######
DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=vertexia
RUN_WITH_DATABASE=true
##POOLS##
DB_MAX_OPEN_CONNS=25 
DB_MAX_IDLE_CONNS=25
##
DB_CONN_MAX_LIFETIME=5m
DB_CONN_MAX_IDLE_TIME=5m
######

######
#Server will wait before timeout 
SERVER_READ_TIMEOUT=15s
SERVER_WRITE_TIMEOUT=15s 
SERVER_IDLE_TIMEOUT=60s 
######

######
LIMITER_MAX=100 #How many requests can one IP make in:
LIMITER_EXPIRATION=1m #this time frame?
######