<div class="footer">
    <a href="https://discord.com/vertexia" class="dropdownitem">Discord</a>
    <a href="/tos" hx-get="/tos" hx-target="body" hx-push-url="true" class="dropdownitem">Terms of Service</a>
    <a href="/privacy" hx-get="/privacy" hx-target="body" hx-push-url="true" class="dropdownitem">Privacy</a>
    <a href="https://github.com/VertexiaGame/" class="dropdownitem">Source Code</a>
    <div class="dropdownline" style="width: 100%"></div>
    <span class="copyleft" style="animation: none !important; transition: none !important">🄯 VERTEXIA 2026. All rights reserved.</span>
</div>