<nav class="navbarcontainer">
    <!--  TODO make this play ONCE (first visit) and upon future theme change ///  -->
    <a href="/" hx-get="/" hx-target="body" hx-push-url="true" class="navbarbrand" aria-label="Vertexia Home"></a>
    <a href="/" hx-get="/" hx-target="body" hx-push-url="true" class="navbarlink navhome">Home</a>
    <div class="navbardivider"></div>
    <a href="/play" hx-get="/play" hx-target="body" hx-push-url="true" class="navbarlink navplay">Play</a>
    <div class="navbardivider"></div>
    <a href="/shop" hx-get="/shop" hx-target="body" hx-push-url="true" class="navbarlink navshop">Shop</a>
    <div class="navbardivider"></div>
    <a href="/users" hx-get="/users" hx-target="body" hx-push-url="true" class="navbarlink navusers">Users</a>
    <div class="navbardivider"></div>
    <a href="/clans" hx-get="/clans" hx-target="body" hx-push-url="true" class="navbarlink navclans">Clans</a>
    <div class="navbardivider"></div>
    <a href="/forum" hx-get="/forum" hx-target="body" hx-push-url="true" class="navbarlink navforum">Forum</a>
    <div class="navbardivider"></div>
    <a href="/upgrade" hx-get="/upgrade" hx-target="body" hx-push-url="true" class="navbarlink navupgrade">Upgrade</a>
    
    {{if .IsLoggedIn}}
        {{template "components/usersidebar" .}}
    {{else}}
        <div class="usersidebar" style="justify-content: flex-end; width: auto; right: 15px; left: auto;">
            <a href="/login" hx-get="/login" hx-target="body" hx-push-url="true" class="navbarlink" style="width: auto;">Login</a>
        </div>
    {{end}}
</nav>