<nav class="navbarcontainer">
    <!--  TODO make this play ONCE (first visit) and upon future theme change ///  -->
    <a href="/" class="navbarlink navhome">Home</a>
    <div class="navbardivider"></div>
    <a href="/play" class="navbarlink navplay">Play</a>
    <div class="navbardivider"></div>
    <a href="/shop" class="navbarlink navshop">Shop</a>
    <div class="navbardivider"></div>
    <a href="/users" class="navbarlink navusers">Users</a>
    <div class="navbardivider"></div>
    <a href="/clans" class="navbarlink navclans">Clans</a>
    <div class="navbardivider"></div>
    <a href="/forum" class="navbarlink navforum">Forum</a>
    <div class="navbardivider"></div>
    <a href="/upgrade" class="navbarlink navupgrade">Upgrade</a>
    
    {{template "components/usersidebar" .}}
</nav>