<div class="wrap">
    <div class="cont">
        <div class="bar">
            <span class="title">SubBar™</span>
            <div class="pill">
                <img src="/static/useful/icons/search.png" class="icon" alt="Search">
                <input type="text" class="input" placeholder="search">
            </div>
            <button class="button generic">Create</button>
        </div>
        <div class="pane">
            <button class="happy">
                <span>happy yippe yippee</span>
            </button>
        </div>
    </div>
</div>