<div class="wrap">
    <div class="cont">
        <div class="studs"></div>
        <div class="bar">
            <span class="title">Login</span>
            <div class="pill">
                <img src="/static/useful/icons/search.png" class="icon" alt="Search">
                <input type="text" class="input" placeholder="search">
            </div>

            <button hx-get="/" hx-target="body" hx-push-url="true" class="button generic">Go back</button>
        </div>
        <div class="pane">
            <h1>Login her eya</h1>
        </div>
    </div>
</div>