<div class="wrap">
    <div class="cont">
        <div class="studs"></div>
        <div class="bar">
            <span class="title">Register</span>
            <div class="pill">
                <img src="/static/useful/icons/search.png" class="icon" alt="Search">
                <input type="text" class="input" placeholder="search">
            </div>
            <button hx-get="/" hx-target="body" hx-push-url="true" class="button generic">Go back</button>
        </div>
        <div class="pane">
            <font color="black">
                <h2>Register</h2>
                {{if .Error}}
                    <p><font color="red">{{.Error}}</font></p>
                {{end}}
                <form action="/register" method="POST" hx-boost="false">
                    <p>
                        <label>Username</label><br>
                        <input type="text" name="username" required>
                    </p>
                    <p>
                        <label>Display Name (Optional)</label><br>
                        <input type="text" name="displayname">
                    </p>
                    <p>
                        <label>Email</label><br>
                        <input type="email" name="email" required>
                    </p>
                    <p>
                        <label>Password</label><br>
                        <input type="password" name="password" required>
                    </p>
                    <p>
                        <label>Confirm Password</label><br>
                        <input type="password" name="password_confirm" required>
                    </p>
                    <p>
                        <altcha-widget challengeurl="/altcha" hidelogo="true"></altcha-widget>
                    </p>
                    <p>
                        <button type="submit" class="button">Register</button>
                    </p>
                </form>
                <p>Already have an account? <a href="/login" hx-get="/login" hx-target="body" hx-push-url="true">Login here</a></p>
            </font>
        </div>
    </div>
</div>
<script async defer src="https://cdn.jsdelivr.net/npm/altcha/dist/altcha.min.js" type="module"></script>